@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 45, 79, 30;
  --background-rgb: 250, 246, 241;
  --accent-rgb: 139, 69, 19;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

